@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<footer class="large medium-padding surface-variant center-align responsive">
    <p>@_website.footer_text</p>
    <a href="https://github.com/Tudi20/tudi20.github.io" target="_blank">
        <div class="row center-align">
            <img src="pictures/programming-language-logos/github.svg" alt="GitHub"
            width="15" height="15">
            <span class="underline max">@_website.footer_source</span>
        </div>
    </a>
</footer>

@code {
    I18nText.Website _website = new();

    protected override async Task OnInitializedAsync()
    {
        _website = await I18nText.GetTextTableAsync<I18nText.Website>(this);
    }
}
