@using ResumeApp.Services
@inject BrowserModeService BrowserModeService

<nav class="left tiny-padding elevate m l">
    <NavItems />
</nav>
<nav class="bottom elevate s">
    <NavItems />
</nav>


@code {
    protected override async Task OnInitializedAsync()
    {
        await BrowserModeService.SetDarkModeAsync(await BrowserModeService.GetDarkModePreferenceAsync());
    }

}
