@if (Certification != null)
{
    <div class="row">
        <i>card_membership</i>
        <div class="max">
            <h6>@Certification.Name</h6>
            <p>Issued by @Certification.Issuer on @Certification.Date</p>
        </div>
    </div>
}
else
{
    <!-- Certification is not available -->
}

@code {
    [Parameter]
    public ResumeCertificationModel? Certification { get; set; }
}
